.header{
    background: linear-gradient(90deg,rgba(73,63,252,1) 0% ,rgba(73,63,252,1) 100%);
    background: black;
    position: fixed;
    top: 0px;
    width: -webkit-fill-available;
    z-index: 10;
}
.header.active{
    background: black;
    background: linear-gradient(90deg,rgba(73,63,252,1) 0% ,rgba(73,63,252,1) 100%);

}
.NavbarItems{
    /* background: linear-gradient(90deg,rgba(73,63,252,1) 0% ,rgba(73,63,252,1) 100%); */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
.navbar-logo{
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px;
    list-style-type: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
    transition: all 0.5s ease;

}
.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.nav-links:hover{
    background-color: #6d76f7;
    background-color: rgb(241, 62, 30);
    border-radius: 4px;
    transition: all 0.2s ease-out ;
}
.nav-sigin{
    background: rgb(241, 62, 30);
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.menu-icon{
    display: none;
}
@media screen and (max-width:960px){
    .header{
        background: black;
    }
    .NavbarItems{
        position: relative;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-menu.active{
        background: #6668f4;
        left: 0;
        opacity: 1;
        z-index: 1;
        transition: all 0.5s ease;
        padding: 2px;
        width: -webkit-fill-available;
    margin: 0px;
    }
    .nav-links{
        text-align: center;
        padding: 2rem;
        padding: 1.5em 0px;
        width: 100%;
        display: table;
    }
    .nav-sigin {
        text-align: center;
        padding: 1rem;
        border-radius: 15px;
        width: 44%;
        margin: auto;
        display: table;
        margin-bottom: 30px;
    }
    .nav-links:hover{
        background-color: #7577fa;
        border-radius: 0;

    }
    .navbar-logo{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%,50%);
        font-size: 1.8em;
        transform: translate(-5%,-20%);
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%,60%);
        transform: translate(-20%,20%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}